body li {
    list-style: none;
}

.bot-message {
    color: black;
    text-align: start;
}
.user-message {
    color: green;
    text-align: end;
}

body {
    display: flex;
}

#messages-and-message-input-container {
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: 3;
    border-style: solid;
    
}

#messages-container {
    border-style: solid;
}

#message-input-container {
    display: flex;
    justify-content: center;
}
#message-input-textarea {
    resize: none;
}

#chat-history-container {
    border-style: solid;
    flex-grow: 1;
}

#navigation-bar {
    border-style: solid;
    flex-grow: 1;
    align-self: flex-start;
}

#navigation-bar > ul > li {
    border-style: solid;
    display: inline-block;
}